pywebview==6.1
pyinstaller==6.17.0
httpx==0.28.1
requests==2.32.5
easyquotation==0.7.7
easytrader==0.23.7
tushare==1.4.24
dmgbuild==1.6.5; sys_platform == 'darwin'
pygobject==3.48.2; sys_platform == 'linux'
# 数据库 - json
tinydb==4.8.2
cryptography==46.0.3
# 数据库 - sql
# tinyaes==1.1.0
# sqlalchemy==2.0.7
# alembic==1.10.2