name: build
on:
  push:
    branches: [main]
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: macos-15-intel # Intel 系列芯片 (x64)
            arch: x64
          - os: macos-latest # M 系列芯片 (ARM64)
            arch: arm64
          - os: windows-latest
            arch: x64
    steps:
      - name: 拉取项目代码
        uses: actions/checkout@v4

      - name: 安装node环境
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: 安装pnpm
        uses: pnpm/action-setup@v4
        id: pnpm-install
        with:
          version: 9
          run_install: false

      - name: 获取pnpm仓库目录
        id: pnpm-cache
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path)" >> $GITHUB_OUTPUT

      - name: 设置pnpm缓存
        uses: actions/cache@v4
        with:
          path: ${{ steps.pnpm-cache.outputs.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: 安装Python3环境
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
          cache: "pip"

      - name: 初始化打包环境
        run: pnpm run init

      - name: 替换包源码
        run: |
          if [ "${{ runner.os }}" == "Windows" ]; then
            ./pyapp/pyenv/pyenv/Scripts/python pyapp/patch_deps.py
          else
            ./pyapp/pyenv/bin/python pyapp/patch_deps.py
          fi
        shell: bash

      - name: 开始打包
        run: |
          if [ "${{ runner.os }}" == "macOS" ]; then
            pnpm run build --mac --${{ matrix.arch }}
          else
            pnpm run build
          fi
        shell: bash

      - name: 上传打包完成的程序包
        uses: actions/upload-artifact@v4
        with:
          name: Sophon_Setup_${{ runner.os }}_${{ runner.arch }}
          retention-days: 1
          path: |
            build/*.dmg
            build/*.exe
            build/*.deb
            build/*.zip
